body {
    background-color: rgb(54,64,74);
}

h2 {
    color: rgb(152,166,173);
}

button {
    color: rgb(106,168,79);
    border: none;
    padding: 0px;
    background-color: rgb(54,64,74);
    cursor: pointer;
    position: relative;
    top: 10px;
}

textarea {
    position: relative;
    top: 14px;
}

form {
    position: relative;
    top: -28px;
}